.home {
  background: rgb(233, 233, 233);
  width: 100%;
  height: auto;
  min-height: 100vh;
  text-align: center;
}
.home div button {
  background-color: rgb(47, 47, 255);
  padding: 10px;
  margin: 10px;
  color: white;
  border: none;
  border-radius: 5px;
}

#photo__selector {
  background-color: rgb(200, 200, 200);
  padding: 10px 0 10px 10px;
  margin: 10px;
  color: black;
  border: none;
  border-radius: 5px;
}

.home div select {
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin: 10px;
  height: auto;
}
.img__container {
  width: 98vw;
  margin: auto;
}

.img__container span {
  border: 2px solid darkgray;
  margin: auto 5px;
  background-color: rgb(235, 239, 242);
  border-radius: 10px;
}
.img__container span img {
  width: 90%;
  max-height: 700px;
  margin: 20px;
}
